[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "==2.2.0"
kivymd = "==1.1.1"
pillow = "==10.0.1"
reportlab = "==4.0.4"
pyzbar = "==0.1.9"
plyer = "==2.1.0"

[dev-packages]

[requires]
python_version = "3.11"
